# HTTP server configuration
# =========================
# This will be used to run the HTTP server
APP_URL=http://localhost:8000
APP_NAME="Vandor App"
APP_SIGNATURE_RESPONSE=Vandor
APP_VERSION=1.0.1

# Email configuration
# ========================
# This will be used to send emails
EMAIL_URL=https://email.pentaverses.space/api/sandbox
EMAIL_DOMAIN=pentaverses.space
EMAIL_SECRET=SkldPJoTCKHQrzpEvFlsvZWVkuKxsaesYdBzJnKenMtffuJudD

# Redis configuration
# =======================
# redis://localhost:6379/0 (no password)
# redis://:password@localhost:6379/0 (with password)
REDIS_URL=redis://localhost:6379/0

# Admin configuration
# ========================
# This will bosstrap the superadmin for pentaverses_auth
SUPERADMIN_NAME="Super Admin"
SUPERADMIN_EMAIL=admin@admin.com
SUPERADMIN_PASSWORD=123123123

# Docs configuration
# ========================
# This will be used to generate the OpenAPI documentation
DOCS_USERNAME=pentaverses
DOCS_PASSWORD=penta-123

# Database configuration
# ========================
# This will be used to connect to the database
DB_DRIVER=postgres
DB_URL="postgres://root:root@localhost:5432/vandor_example?search_path=public&sslmode=disable"

# Auth configuration
# ========================
# This will be used to sign JWT tokens
AUTH_SECRET_KEY=2YQQra25bPHyQ0s1/0+f/0pU+fvf6pmq
